Django>=2.0,<3.0
djangorestframework==3.10.3
psycopg2==2.8.6
pylint-django
pylint
python-decouple
django-cors-headers==3.2.0
Pillow
httpie
dj-database-url==0.4.2
gunicorn==19.7.1
pytz==2017.3
whitenoise==3.3.1
